<html data-theme="dark"  lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Recruiting Agent</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="icon" type="image/png" href="https://www.iconexperience.com/_img/m_collection_png/256x256/plain/security_agent.png
    ">

    <style>
        /* Remove default underline and style the links */
        a {
            text-decoration: none; /* Remove underline */
            transition: color 0.2s ease-in-out; /* Add smooth transition on hover */
        }

    </style>


</head>
<body class="container">
    <br/>
    <hgroup>
        <h1 style="font-weight: 300; text-align: center;"><strong>Foster</strong>Kane</h1>
        <h2 style="text-align: center;"><code>AI agents</code> designed to simplify your business. </h2>
    </hgroup>   

    <hr>

    <hgroup>
        <h2><a href="/chat"> Chat (Demo) </a></h2>
        <h3> View our chat demo. </h3>
    </hgroup>   

    <hgroup>
        <h2><a href="/finance"> Finance Agent </a></h2>
        <h3> Chat with our AI finance specialist for any questions. </h3>
    </hgroup>   

    <hgroup>
        <h2><a href="/job_posting_input"> Job Posting Agent </a></h2>
        <h3> Generate job posts faster with our job posting agent. </h3>
    </hgroup>   
    

   

</body>
</html>