<html data-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Recruiting Agent</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="icon" type="image/png" href="https://www.iconexperience.com/_img/m_collection_png/256x256/plain/security_agent.png
    ">
</head>
<body class="container">
    <br/>
    <br/>
    <h1>Job Posting</h1>

   <h2>What role do you need a job posting for?</h2>
   <form action="/job_posting" method="post">
        <label for="enter_role">Enter the role:</label>
        <input type="text" id="role" name="role"><br><br>

        <input type="submit" value="Submit">
   </form>


   
    
</body>
</html>